# Flask
Flask
flask-ngrok
Flask-Bootstrap
# MongoDB
pymongo
# Форматирование импортированных md файлов
markdown2
# Запросы
requests
# Нейросети
# для установки нужны права администратора
transformers
torch
# Предсказательная модель
matplotlib
pandas
scikit-learn