{% extends 'base.html' %}

{% block title %}me&мася - Articles{% endblock %}

{% block content %}
    <h1>Советы по уходу за питомцем</h1>
    <p>Автор: Эксперт 1</p>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img style="object-fit: cover;" width="90%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/pet1.jpg" alt="Article photo">
                <img style="object-fit: cover;" width="90%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/pet2.jpg" alt="Article photo">
                <img style="object-fit: cover;" width="90%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/pet3.jpg" alt="Article photo">
                <img style="object-fit: cover;" width="90%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/pet4.jpg" alt="Article photo">
            </div>
            <div class="col-sm-9">
                <p>Почему бы не обратить внимание на воспитание домашних питомцев с использованием умственных игр? Хотя физическая активность важна, она не исключает потребности в умственной стимуляции. Как и у любого интеллектуального существа, у питомцев также есть потребность в активизации умственных процессов, чтобы избежать скуки и негативных проявлений поведения.</p>
                <p>На примере собак и кошек можно представить, что без достаточной умственной нагрузки они могут начать проявлять различные неадекватные действия, такие как разрушение вещей, воровство еды со стола, переедание.  Питомец будет всеми силами привлекать внимание к себе.</p>
                <p>Игры, требующие умственных усилий, предоставляют питомцам возможность использовать свои интеллектуальные способности конструктивным образом. Они также более эффективно утомляют животных по сравнению с обычными физическими играми, что способствует успокоению и замедлению активности, это связано с метаболическими обменными процессами в организме питомца, в частности с работой дофаминовой системы. Головоломки особенно полезны, учитывая, что физическая активность может привести к <p</p>>переутомлению питомца и стрессу. Хотя полностью физическую активность исключить нельзя – добавление интеллектуальных игр успокоит питомца и даст необходимое время на отдых его хозяину.</p>
                <p>Какие существуют игры для домашних питомцев?</p>
                <p>Головоломки – игры, в которых питомцу нужно разгадать несложный алгоритм действий, чтобы получить лакомство</p>
                <p>Поисковые игры – игры, в которых питомец ищет спрятанные лакомства в пределах большого пространства (например квартиры)</p>
                <p>Дрессировка – тоже является достаточной интеллектуальной нагрузкой для питомца, имейте ввиду, что дрессировке поддаются не только собаки, но и кошки</p>
                <p>Варианты несложных головоломок в домашних условиях:</p>
                <p>Вырезать в коробке из под обуви небольшие отверстия и положить внутрь коробки лакомства</p>
                <p>Сплести косички из лоскутов ткани и положить внутрь лакомства</p>
                <p>Расставить по полу множество втулок и положить в них лакомства</p>
                <p>Насыпать лакомства в некоторые ячейки упаковки из-под яиц, накрыть ее тканью</p>
                <p></p>
                <p>Не забывайте, что если вы вводите какую-то активность для питомца – сделайте ее легкой и достижимой, чтобы лишний раз не фрустрировать питомца! </p>
                <p></p>
                <p>Всем Мяв!</p>
                <img style="object-fit: cover;" width="10%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/logo.png" alt="Article photo">
            </div>
        </div>
    </div>
    <a href="{{ url_for('index') }}">Вернуться на главную</a>
{% endblock %}
