{% extends 'base.html' %}

{% block title %}me&мася - Pet Profile{% endblock %}

{% block content %}
    <h1>Личный кабинет питомца</h1>
    {% if not pet_data %}
        <!-- Если нет данных о питомце, отобразить форму ввода passport_number -->
        <h3 style="text-align: center;">Авторизация</h3>
        <form action="{{ url_for('pet_profile') }}" style="max-width: 300px; margin: 0 auto;">
            <label for="passport_number">№ паспорта:</label>
            <input type="text" id="passport_number" name="passport_number" required style="width: 100%;">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" style="width: 100%;">
            <p></p>
            <button class="btn"  type="submit" style="width: 100%;">Войти</button>
        </form>
    {% else %}
    <h3>Карточка</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                <!-- <th colspan="4" rowspan="4"><i class="bi bi-file-earmark-person" style="font-size: 7rem; color: cornflowerblue;"></i></th> -->
                <th colspan="4" rowspan="4"><img src="{{ pet_data['photo'] }}" alt="Description" style="width: 10rem; height: 10rem; object-fit: cover; border-radius: 50%;"></th>
                <th colspan="4"><span style="font-weight:bold">Имя: </span>{{ pet_data['name'] }}</th>
                <th>
                    <form method="post" action="/dummy/Форма редактирования данных о питомце">
                        <button class="btn" type="submit">Редактировать</button>
                    </form>
                </th>
            </tr>
            <tr>
                <td>Паспорт: {{ pet_data['passport_number'] }}</td>
                <td><img src="https://www.webarcode.com/barcode/image.php?code={{ pet_data['chip_number'] }}&type=C128B&xres=1&height=50&width=167&font=3&output=png&style=69"></td>
                <td><a href="/dummy/'{{ pet_data['medical_record_link'] }}'" target="_blank">Медкарта</a></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Возраст: {{ pet_data['age'] }} </td>
                <td colspan="4">Вес: {{ pet_data['weight'] }} кг</td>
                <td colspan="4">Рост: {{ pet_data['height'] }} см</td>
            </tr>
            <tr>
                <td colspan="8"><span style="font-weight:bold">Заболевания:</span> <br>
                {% for illnesse in pet_data['illnesses'] %}
                    <li>{{ illnesse }}</li>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td colspan="8"><span style="font-weight:bold">Совет от владельца:</span> {{ pet_data['advice'] }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Прогулка</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <table border="0">
                    <tr>
                        <td rowspan="3">
                            <img src="https:{{ weather['icon'] }}" alt="Weather Image" height="100">
                        </td>
                        <!-- Второй столбец с информацией -->
                        <td>Температура: {{ weather['temp'] }}°C</td>
                    </tr>
                    <tr>
                        <!-- Вторая строка второго столбца -->
                        <td>Скорость ветра: {{ weather['wind'] }} м/с</td>
                    </tr>
                    <tr>
                        <!-- Третья строка второго столбца -->
                        <td>Город: {{ weather['city'] }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-8">
                <span style="font-weight:bold">Советы по условиям прогулки</span><br>
                <span>
                    <li>{{ walk_advice['temp_advice'] }}</li>
                    <li>{{ walk_advice['wind_advice'] }}</li>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <h3>Советы по уходу за питомцем</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span style="font-weight:bold">От нейро-сети</span><br><br>
                <div class="alert alert-warning" style="text-align: center;" role="alert">
                    Помните, советы, сгенерированные нейро-сетью, могут быть ошибочными
                </div>
                <span>
                    <li>{{ neuro_advice }}</li>
                </span>
            </div>
        </div>
        <br>
        <div class="row">
            <span style="font-weight:bold">От экспертов</span><br><br>
            <div class="col-sm-4" style="text-align: center;">
                <a style="text-align: center;" href="/article">
                    <img style="align-items: center; object-fit: cover;" width="100%" src="https://raw.githubusercontent.com/eznova/petadvicer_proto/main/images/masya.jpg" alt="Article photo">
                    <p >Развивающие игры для питомцев</p>
                </a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <div class="alert alert-info" style="text-align: center;" role="alert">
                    ТОП-3 производителей корма, подобранный на основании рекомендаций от наших лучших экспертов
                </div>
                <span>
                    {% for item in top_three_food %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <h3>Действия</h3>
            <div class="col-sm-4">
                <form method="post" action="/dummy/Обратиться в страховую компанию">
                    <button class="btn btn-warning" type="submit">Обратиться в страховую компанию</button>
                </form>
            </div>
            <div class="col-sm-4">
                <form method="post" action="/dummy/Сделать запрос к умной кормушке">
                    <button class="btn" type="submit"><img height="20pem" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Yandex_icon.svg/1200px-Yandex_icon.svg.png" alt="Yandex API">Покормить питомца</button>
                </form>
            </div>
        </div> 
    </div>
    {% endif %}
{% endblock %}


